<div class="home-page-wrapper">
  <nz-layout>
    <nz-sider *ngIf="showSidebar" [nzWidth]="170">
      <div class="host-controls">
        <button style="text-align: center;" routerLink="game">Gameboard</button>
        <button style="text-align: center;" routerLink="leadership">Leaderboard</button>
        <button style="text-align: center;" routerLink="teams">Teams</button>
        <button style="text-align: center;">Reset Game</button>
      </div>
    </nz-sider>
    <nz-layout>
      <nz-content style="margin:0 16px;">
        <div class="content-wrapper">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>
</div>