<nz-layout>
    <nz-sider [nzWidth]="200" style="background:#000000">
        <div class="host-controls">
            <button><a class="menu-item" routerLink="/" routerLinkActive="router-link-active">Gameboard</a></button>
            <button><a class="menu-item" routerLink="/leadership">Leaderboard</a></button>
            <button><a class="menu-item" routerLink="/teams">Teams</a></button>
            <button><a class="menu-item" >Reset Game</a></button>
          </div>
    </nz-sider>
    <nz-layout>
        <nz-content style="margin:0 16px;">

            <div style="margin:24px; background: #000000; min-height: 360px;">
              <router-outlet></router-outlet>
            </div>
          </nz-content>
    </nz-layout>

</nz-layout>