:host ::ng-deep .logo {
  height: 32px;
  background: rgba(255, 255, 255, .2);
  margin: 16px;
}

.ant-layout {
  height: 100%;
}

.host-controls {
  padding: 0 15px 0 22.5px;
  display: flex;
  flex-direction: column;
  position: fixed;
  
  button {
    border-radius: 5px;
    height: 50px;
    width: 140px;
    font-weight: 600;
    margin-bottom: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);

    a {
      display: flex;
    }
  }
}

nz-layout.ant-layout {
    padding-bottom: 15px !important;
    height: 100%;
    min-height: fit-content !important;
}
nz-sider {
  width: fit-content !important;
  background-color: transparent !important;
}

.home-page-wrapper {
  padding-top: 50px;
  height: 100%;
  background-color: black;

  nz-layout {
    background-color: black;
  }
}

button.is-active {
  background-color: #6c6fff;
  border: none;
  outline: none;
  color: white;
  font-weight: 600;
}