.play-page-button {
  margin-top: 20px;
}

.game-title {
  color: white;
  font-size: 20px;
  font-weight: 600;
}

nz-sider.ant-layout-sider {
  display: none !important;
}

.client-page-wrapper {
  padding: 15px;
}