.team-selection-wrapper {
  margin-top: 50px;
}

nz-select {
  width: 100%;
  height: 50px;
}

nz-layout {
  // background-color: white !important;
}

input {
  font-size: 20px !important;
}

input[type="text"]:focus, textarea:focus {
  -webkit-text-size-adjust: 100%;
}
.ant-select {
  font-size: 20px !important;
}

.ant-select-selection--single {
  font-size: 20px !important;
}

html {
  height: fit-content;
  background-color: #f0f2f5;
}