<div class="play-page-wrapper" *ngIf="question; else loading">
  <div class="question-wrapper">
    <div class="question-text" style="color: white">{{ question.questionText }}</div>
  </div>
  <h2>{{countDown}}</h2>
  <h1>{{songName}}</h1>

<div>
    <button nz-button nzType="primary" *ngIf="!showAnswers" (click)="showQuestionAnswers(true)"  nzBlock>Show Answers</button>

</div>
<div *ngIf="showAnswers">
    <nz-checkbox-wrapper style="width: 100%;" (nzOnChange)="updateArrayOfAnswers($event)">
        <div nz-row class="answers-wrapper" *ngFor="let answer of question.answers">
            <div nz-col nzSpan="24"><label nz-checkbox nzValue="{{answer.id}}" style="color: white">{{ answer.answerText }}</label></div>
        </div>
    </nz-checkbox-wrapper>
</div>

<button class="play-page-button" nz-button nzType="primary" *ngIf="showAnswers" (click)="startMusic()"  nzBlock>Start Music</button>

</div>
<button class="play-page-button" nz-button nzType="primary" *ngIf="showSubmitAnswersButton" (click)="submitAnswers()"  nzBlock>Submit</button>
<ng-template #loading>
  Loading stuff...
</ng-template>