.play-page-container {
    background-color: white;
    height: 800px;
    border-radius: 5px;
    padding: 30px;
}

.play-page-button {
    margin-top: 20px;
}

.question-text {
    font-size: 30px;
    font-weight: 600;
}

ul {
    padding: 0;
    list-style-type: upper-alpha;
    li {
        color: white;
        font-size: 20px;
        font-weight: 600;
        padding: 15px;
        margin-bottom: 10px;
        border-radius: 5px;
        background-color: #897ec3;
    }

    li.correct-answer {
        background-color: #b85bff;
    }
    
    span.point-container {
        justify-self: flex-end;
        border-radius: 5px;
        padding: 5px;
        background-color: #ff4d4f;
    }
}

.question-controls-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 20px 0;
}
button.question-control {
    background-color: cadetblue;
    border-radius: 5px;
    height: 50px;
    border: none;
    color: white;
    width: 140px;
    font-weight: 600;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
}

.music-counter-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

