<div class="category-container">
  <div class="category-wrapper" *ngIf="!category.isAllIn">
    <div class="category-title-wrapper">
      <p class="category-title">{{ category.categoryText }}</p>
    </div>
    <ul>
      <li *ngIf="questions[0]" [ngClass]="{'disabled-question': !activeQuestionMapper[0]}" (click)="selectDifficulty(0)">Easy</li>
      <li *ngIf="questions[1]" [ngClass]="{'disabled-question': !activeQuestionMapper[1]}" (click)="selectDifficulty(1)">Medium</li>
      <li *ngIf="questions[2]" [ngClass]="{'disabled-question': !activeQuestionMapper[2]}" (click)="selectDifficulty(2)">Hard</li>
    </ul>
  </div>
</div>
