    {{!questions[0].isActive}}

<div class="category-container">
  <div class="category-wrapper" *ngIf="!category.isAllIn">
    <div class="category-title-wrapper">
      <p class="category-title">{{ category.categoryText }}</p>
    </div>
    <ul>
      <li *ngIf="questions[0]" [ngClass]="{'disabled': !questions[0].isActive }" (click)="selectDifficulty(0)">Easy</li>
      <li *ngIf="questions[1]" [ngClass]="{'disabled': questions[1].isActive }" (click)="selectDifficulty(1)">Medium</li>
      <li *ngIf="questions[2]" [ngClass]="{'disabled': questions[2].isActive }" (click)="selectDifficulty(2)">Hard</li>
    </ul>
  </div>
</div>
