<div class="leadership-board-wrapper">
  <nz-table #filterTable [nzData]="displayData">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr>
        <th nzWidth="20%" class="table-font-size table-font-bold ">Ranking</th>
        <th nzWidth="65%" class="table-font-size">Team</th>
        <th nzShowSort nzSortKey="score" class="table-font-size">Points</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let team of filterTable.data; let i = index;">
        <td class="table-font-size  table-font-bold">{{ i + 1}}</td>
        <td class="table-font-size">{{team.name}}</td>
        <td class="table-font-size">{{team.point}}</td>
      </tr>
    </tbody>
  </nz-table>
</div>  