.ant-table-tbody>tr>td {
    background: #fafafa;
}

.leadership-board-wrapper {
    background-color: white;
    height: 800px;
    border-radius: 5px;
    padding: 40px;
}

th {
    background-color: #b1c2de !important;
}

.table-font-size {
    font-size: 3rem;
}

.table-font-bold {
    font-weight: bold;
}