<div class="leadership-board-wrapper">
  <nz-table #filterTable [nzData]="displayData" [nzPageSize]="10">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr>
        <th nzWidth="25%" class="table-font-size-header table-font-bold ">Ranking</th>
        <th nzWidth="55%" class="table-font-size-header">Team</th>
        <th nzShowSort nzSortKey="score" class="table-font-size-header">Points</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let team of filterTable.data; let i = index;">
        <td class="table-font-size-data  table-font-bold">{{ i + 1}}</td>
        <td class="table-font-size-data">{{team.name}}</td>
        <td class="table-font-size-data">{{team.point}}</td>
      </tr>
    </tbody>
  </nz-table>
</div>  