          <div nz-row [nzGutter]="8">
              <div nz-col [nzSpan]="8">
                <nz-card nzTitle="TeamA">
                    <p>Points: 1200</p>
                  </nz-card>
              </div>
              <div nz-col [nzSpan]="8">
                <nz-card nzTitle="TeamB">
                    <p>Points: -200</p>
                  </nz-card>
              </div>
              <div nz-col [nzSpan]="8">
                <nz-card nzTitle="TeamC">
                    <p>Points: 3500</p>
                  </nz-card>
              </div>
            </div>