<div class="game-container">
  <div class="no-game-wrapper" *ngIf="!existsGame">
    <button nz-button nzType="primary" (click)="showModal()">New Game</button>
  </div>
  
  <div class="game-play-wrapper" *ngIf="categories && game">
    <!-- <div class="game-title">{{ game.name }}</div> -->
    <div class="game-title">The Gig Is Up!</div>
    <div class="question-category-wrapper">
      <div class="question-category-list" *ngFor="let category of categories">
        <div class="non-all-in-categories-wrapper">
          <app-question-category *ngIf="!category.isAll" (questionSelected)="showQuestion($event)" [category]="category"></app-question-category>
        </div>
      </div>
    </div>
    <div class="all-in-button-wrapper">
      <button class="all-in-button" (click)="showAllIn()">All In</button>
    </div>
  </div>
</div>
<nz-modal 
  [(nzVisible)]="isVisible" 
  nzTitle="Create Game" 
  (nzOnCancel)="handleModalCancel()" 
  (nzOnOk)="handleModalSubmit()">
  <input 
    nz-input 
    placeholder="Please enter a game name" 
    [(ngModel)]="newGameName">
</nz-modal>