.game-container {
  padding-top: 50px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.question-category-wrapper {
  display: flex;
}

.question-category-list {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}

.game-title {
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}

.non-all-in-categories-wrapper {
  width: 100%;
}

.all-in-button-wrapper {
  height: 70px;
  padding: 10px;
  margin: 0 5px;
  border-radius: 2px;
  background-color: #213b9c;
  display: flex;
  justify-content: space-around;
}

.all-in-button {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  outline: none;
  border: none;
  background-color: darkslategrey;
}