<div class="game-container">
  <div class="no-game-wrapper">
    <button (click)="createGame('esswqsddd')">New Game</button>
    <button>Reset Game</button>
  </div>
  <div class="game-play-wrapper" *ngIf=categories>
    <div class="game-title">
      The Gig is Up
    </div>
    <div class="question-category-wrapper">
      <div class="question-category-list" *ngFor="let category of categories">
        <app-question-category [category]="category"></app-question-category>
      </div>
    </div>
  </div>
</div>
