<div class="team-page-wrapper">
    <nz-table #filterTable [nzData]="displayData">
    <thead nzSingleSort>
      <tr>
        <th nzWidth="65%">Team</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let team of filterTable.data; let i = index;">
        <td>{{team.name}}</td>
      </tr>
    </tbody>
  </nz-table>
</div>

<!-- <button nz-button nzType="primary" (click)="showModal()">New Team</button>
<nz-modal 
  [(nzVisible)]="isVisible" 
  nzTitle="Create Team" 
  (nzOnCancel)="handleModalCancel()" 
  (nzOnOk)="handleModalSubmit()">
  <input 
    nz-input 
    placeholder="Please enter a team name" 
    [(ngModel)]="newTeamName">
</nz-modal>

<div *ngIf="teams">
  <div *ngFor="let team of teams">
      <nz-card style="width:200px" nzTitle="Team">
          <p>{{team.name}}</p>
        </nz-card>
  </div>
</div> -->
